---
layout: default
---
<div class="uk-visible-toggle uk-light" tabindex="-1" uk-slider>
    <ul class="uk-slider-items uk-padding-large uk-grid">
        {% for image in site.static_files %}
            {% if image.path contains 'img/homeslides' %}
            <li>
                <div class="uk-width-auto uk-panel uk-transition-toggle" class="uk-background-cover">
                    <img class="uk-height-max-medium" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    <div class="uk-position-center uk-text-center uk-transition-fade">
                        <h2>Heading</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>