---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>British Mountaineers</h2>
            <p>
                Faye Latham's collection, British Mountaineers, is a series of poetic erasures. Written in 1942, F. S. Smythe's biographical text of the same title forms the original canvas where words are picked, painted and stitched together to create a new, dream-like narrative.
            </p>
            <p>
                Drag the images left or right to see more pages.
            </p>
        </div>
    </div>
    <div class="row mb-3">
    <div class="owl-carousel" id="bm-carousel">
        {% for book in site.data.british-mountaineers %}
        <div class="item">
            <a href="#viewerModal" data-viewer="{{book.title}}" data-viewerlarge="{{book.filename_large}}" data-viewershopurl="{{book.shop_url}}"><img src="{{book.filename_small}}"/></a>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Castle of Imagination</h2>
            <p>
                First published in 1930, F. S. Smythe's book, A Kangchenjunga Adventure, becomes the canvas for this series of erasure and collage poems. This series explores both real and imagined landscapes, taking the reader on a journey into the text through visual and lexical portals, black holes and dreams.
            </p>
        </div>
    </div>
    <div class="row mb-3">
    <div class="owl-carousel" id="ci-carousel">
        {% for book in site.data.castle-of-imagination %}
        <div class="item">
            <a href="#viewerModal" data-viewer="{{book.title}}" data-viewerlarge="{{book.filename_large}}" data-viewershopurl="{{book.shop_url}}"><img src="{{book.filename_small}}"/></a>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="viewerModal" tabindex="-1" aria-labelledby="viewerModel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="viewerModalLabel">An artwork</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/assets/img/british-mountaineers/lg/1.png" class="w-100"/>
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-primary buy-print disabled">Buy print</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $('document').ready(function () {

        const timeout = 100

        dragEnd = 0

        onDrag = function () {
            console.log("drag start " + Date.now())
            dragEnd = Date.now()
        }

        onDragged = function () {
            console.log("drag end " + Date.now())
        }
        
        // Create carousels
        $('#bm-carousel').owlCarousel({
            loop : true,
            margin : 32,
            nav : false,
            responsive : {
                0 : {
                    items : 1
                },
                600 : {
                    items : 3
                }
            },
            onDrag : onDrag,
            onDragged : onDragged
        });
        $('#ci-carousel').owlCarousel({
            loop : true,
            margin : 32,
            nav : false,
            responsive : {
                0 : {
                    items : 1
                },
                600 : {
                    items : 3
                }
            },
            onDrag : onDrag,
            onDragged : onDragged
        });

        const viewerModalObj = new bootstrap.Modal('#viewerModal', {
        })
        viewerModalObj.hide()

        $('#bm-carousel div.item a').click(function () {
            console.log("clicked")
            if (Date.now() - dragEnd < timeout) {
                console.log("Busy")
                // viewerModalObj.hide()
                return
            } else {
                viewerModalObj.show($(this)[0])
            }
        })


        $('#ci-carousel div.item a').click(function () {
            console.log("clicked")
            if (Date.now() - dragEnd < timeout) {
                console.log("Busy")
                // viewerModalObj.hide()
                return
            } else {
                viewerModalObj.show($(this)[0])
            }
        })

        // Hook events to modal/viewer
        const viewerModal = document.getElementById('viewerModal')
        viewerModal.addEventListener(
            'show.bs.modal', event => {

                console.log("owl show " + Date.now())
                console.log("-------> " + (Date.now() - dragEnd))

                // Loading parameters
                const viewer_title = event.relatedTarget.dataset.viewer
                const viewer_shopurl = event.relatedTarget.dataset.viewershopurl
                const viewer_filename = event.relatedTarget.dataset.viewerlarge

                // Set parameters in modal
                $('#viewerModal div.modal-body > img').attr("src", viewer_filename)

                $('#viewerModal div.modal-footer > a.buy-print').attr("href", viewer_shopurl)
                $('#viewerModal div.modal-header > h1.modal-title').text(viewer_title)
                
            }
        )

    })
</script>