<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="Poetry,Nature Writing,Nature,Faye,Latham,Faye Latham,Climbing,Mountaineering">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">
<!-- Include Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

<!-- Include Local Stylesheet -->
<link href="/assets/css/site.css" rel="stylesheet">

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/assets/js/uikit.min.js"></script>
<script src="/assets/js/uikit-icons.min.js"></script>