<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-nav">
        <ul class="uk-navbar-nav">
            {% for item in site.data.nav %}
            {% if item.subfolderitems[0] %} 
            <li>
                <a href="#">{{ item.name }}</a>
                <div class="uk-navbar-dropdown uk-light">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                    {% for subitem in item.subfolderitems %}
                        <li>
                            <a href="{{ subitem.link }}">{{ subitem.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </li>
            {% else %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<!--
<a href="#">Menu</a>
<div class="uk-navbar-dropdown">
    <ul class="uk-nav uk-navbar-dropdown-nav">
    {% for item in site.data.nav %}
        <li class="{% if page.url == item.link %}uk-active{% endif %}">
            <a href="{{ item.link }}">{{ item.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
-->