$frl-red: #b70223;

$font-family-base: "Cormorant", "Times New Roman", serif;
$font-size-root: 1.25rem;

$serif-font-family: "DM Serif Text", "Times New Roman", serif;

// Reset H1 font
h1 {
    font-family: $serif-font-family;
}

// Rewrite colours
$primary: $frl-red;

// Assign button parameters
$btn-font-family: $serif-font-family;
$btn-border-radius: 0;

$container-max-widths: (
  sm: 540px,
  md: 720px, //720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;


$header-vertical-spacing: 32px;
header {
    margin-top:     $header-vertical-spacing;
    margin-bottom:  $header-vertical-spacing/2;
}

header .title {
    @extend .text-decoration-none;
    color: $frl-red !important;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    header .title {
        font-size: 1em; // you can also use px here...
    }
}

@media only screen and (min-width: 600px) {
    header .title {
        font-size: 2.5em !important; // you can also use px here...
    }
}


header > nav > button {
    @extend .mx-3;
}