---
---
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Faye Latham</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

    <!-- add Owl Carousel -->
    <link rel="stylesheet" href="{% link assets/owl.carousel/dist/assets/owl.carousel.min.css %}" />

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container">
        <div class="title col-12 fs-3 fs-md-1 text-center">
            <strong>Faye Rhiannon Latham</strong> | Poet
            {% include nav-buttons.html %}
        </div>
    </header>
    <!-- content -->
    <content>
    {{ content }}
    </content>
    <!-- end content -->
    <footer class="container">
        <div class="col-12">
            <strong>Copyright</strong>
            <p>Faye Latham &copy; 2024</p>
            <strong>Design</strong>
            <p><a href="https://jonohawkins.co.uk">jonohawkins.co.uk</a></p>
        </div>
    </footer>
    <!-- Load JS scripts -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="{% link /assets/owl.carousel/dist/owl.carousel.min.js %}"></script>
</body>
</html>